.MuiStepper-alternativeLabel {
  background: transparent !important;
}

.MuiStepConnector-root {
  height: 1px;
  background-color: rgba(0, 0, 0, 0) !important;
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  color: rgb(120 109 109 / 65%) !important;
}
