.MuiStepper-alternativeLabel {
  background: transparent !important;
}

.MuiStepConnector-root {
  height: 1px;
  background-color: rgba(0, 0, 0, 0) !important;
}

.MuiStepLabel-completed {
  color: rgb(199, 199, 199) !important;
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  color: rgb(89 140 177) !important;
}
.MuiPaper-root {
  color: rgb(109 139 195 / 87%);
}
