.dashboard {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.dashboardContainer {
  border-left: 1px solid rgba(0, 0, 0, 0.13);
  background-color: rgb(255, 255, 255);
  padding: 4rem 0;
  background: url("../../images/home-background.png");
  background-size: cover;
  background-position: center;

  position: relative;
}

.dashboardContainer > h3 {
  font-size: 3rem;
  color: #fff;
  width: auto;
  text-align: center;
  z-index: 1;
  padding: 10px 20px;
  margin: 30px;
  position: relative;
}

.dashboardContainer::before {
  content: "Top Products";
  position: absolute;
  width: 100%;
  font-size: 7rem;
  font-weight: bold;
  z-index: 0;
  text-align: center;
  color: #0000002c;
  top: 50px;
}

.dashboardSummary {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.dashboardSummary > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.summarybox1 {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

.summarybox1 p {
  display: flex;
  flex-direction: column;
}

.summarybox1 span {
  font-size: 1.4rem;
  color: gray;
  margin: 2rem 0px;
}

.dashboardSummaryBox2 > a {
  text-align: center;
  text-decoration: none;
  padding: 1.5rem;
  background: #00000047;
  margin: 1rem;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  border: 1px solid #ffffff21;
}

.dashboardSummaryBox2 > a > p {
  background: #ffffff14;
  padding: 10px 15px;
  border-radius: 5px;
  width: 150px;
}

.dashboardSummaryBox2 > a > h3 {
  margin: 5px;
  display: flex;
  align-items: center;
}

.dashboardSummaryBox2 > a > h3 > i {
  font-size: 2rem;
  color: #b4b723;
  margin: 5px;
}

.lineChart {
  width: 80%;
  margin: auto;
}

.doughnutChart {
  width: 30vmax;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .dashboardContainer {
    border-left: none;
  }

  .dashboardSummary > div > p {
    margin: 0;
  }

  .dashboardSummaryBox2 > a {
    padding: 0.5rem;
    margin: 1rem;
    font: 300 0.9rem "Roboto";
  }
}
