.myOrdersPage {
  padding: 2vmax;
  padding-top: 80px;
  background-color: rgb(235, 235, 235);
  display: flex;
  background: url("../../images/home-background.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
}
.greenColorfont {
  color: #52810a !important;
  font-size: 1.3vmax !important;
}
.redColorfont {
  color: #fb6262 !important;
  font-size: 1.3vmax !important;
}

.MuiDataGrid-root {
  border: none !important;
}
.MuiDataGrid-root .MuiDataGrid-cell {
  border: none !important;
}
.MuiDataGrid-root .MuiDataGrid-columnsContainer {
  border: none !important;
}
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

#myOrdersHeading {
  text-align: center;
  font: 400 1.2vmax "Roboto";
  padding: 0.5vmax;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  background-color: rgb(44, 44, 44);
}

.myOrdersTable {
  background-color: rgba(44, 43, 43, 0.205);
}

.myOrdersTable div {
  font: 300 1vmax "Roboto";
  color: rgb(255, 255, 255);
  border: none;
}

.myOrdersTable a {
  color: gray;
  transition: all 0.5s;
}

.myOrdersTable a:hover {
  color: tomato;
}

.MuiDataGrid-columnHeader {
  background-color: #837285;
  padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255);
  font: 500 1.1vmax "Roboto" !important;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .myOrdersPage {
    padding: 0;
    height: 93vh;
  }

  #myOrdersHeading {
    font: 400 2.2vmax "Roboto";
    padding: 4vw;
  }

  .myOrdersTable div {
    font: 300 4vw "Roboto";
  }

  .MuiDataGrid-columnHeader {
    padding: 20px !important;
  }

  .MuiDataGrid-columnHeader div {
    font: 500 5vw "Roboto" !important;
  }
}

.greenColor {
  color: green;
}

.redColor {
  color: red;
}
