@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

/* product-card styling */

.product-container {
  /* min-height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* background-color:#403A52; */
  /* background: rgb(97, 67, 133); */
  /* background: linear-gradient(
    34deg,
    rgba(97, 67, 133, 1) 0%,
    rgba(81, 99, 149, 1) 100%
  ); */
  background: transparent;
}

.product-container h3 {
  font-size: 4vmax;
  color: #fff;
  z-index: 0;
  padding: 10px 20px;
  margin: 30px;
}
/* // check deploy */
.product-container::before {
  content: "Featured Products";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 7vmax;
  font-weight: bold;
  z-index: 0;
  text-align: center;
  color: #0000002c;
  top: 0;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-card {
  width: 215px;
  height: 245px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.75);
}
.product-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card-info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.product-card-info h2 {
  margin: 10px;
  font-size: 17px;
  color: #cccccc;
  width: 53px;
  height: 100%;
  text-transform: capitalize;
  text-align: center;
}

.product-card .rating {
  margin: 5px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}
.product-card .rating .noofreview {
  font-size: 15px;
  background: #403a52;
  color: #a1a1a1;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
}

.product-card p {
  margin: 5px;
  font-size: 15px;
  background: #020300;
  border-radius: 5px;
  padding: 5px 6px;
  text-align: center;
  color: #ffffff;
  width: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.addtocart {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 23px;
  padding: 4px;
  background: #4ab7b7;
  color: #fff;
  border-radius: 5px;
  margin: 12px;
}
