.product-detail {
  background: url("../../images/home-background.png");
  background-size: cover;
  background-position: center;
}

.product-detail-box {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-top: 80px;

  display: flex;
  min-height: 100vh;
  padding: 20px;
  padding-top: 80px;
}
.product-image-slider {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.CarouselImage {
  width: 100%;
}

.product-detail-info {
  width: 50%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-detail-info h3 {
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #adadad;
}

.product-detail-info .price-rating-review {
  margin: 10px;
}

.product-detail-info .price-rating-review span {
  margin: 5px;
  padding: 3px 7px;
  border-radius: 5px;
  background: #787d95;
  color: #202020;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 1px;
}

.product-detail-info .inc-dec-quantity {
  display: flex;
  align-items: center;
  margin: 10px;
}
.product-detail-info .inc-dec-quantity button {
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  margin: 5px;
  display: flex;
  cursor: pointer;
}

.product-detail-info .inc-dec-quantity input {
  background: #787d954a;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
}

.product-detail-info .product-desc {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product-detail-info .product-desc h2 {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #9f9f9f;
}

.product-detail-info .product-desc p {
  font-size: 1.4vmax;
  margin: 10px;
  color: #5c606e;
}

.product-detail-info .product-button {
  display: flex;
}

.product-detail-info .product-button button {
  background: #8080801c;
  color: #787a85;
  font-size: 15px;
  margin: 5px;
  text-transform: capitalize;
  padding: 5px 10px;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #464646;
  display: flex;
  align-items: center;
}

.product-detail-info .product-button button i {
  font-size: 30px;
  color: #a193a1;
  margin: 0px 5px;
}

.review-box .all-reviews {
  background: #12131a;
  min-height: 100vh;
}

.review-box .all-reviews h3 {
  font-size: 3rem;
  color: #fff;
  z-index: 1;
  padding: 30px;
  text-align: center;
  position: relative;
}
.review-box .all-reviews h3::before {
  content: "Reviews";
  position: absolute;
  width: 100%;
  font-size: 7rem;
  font-weight: bold;
  z-index: 0;
  left: 0;
  top: -10px;
  text-align: center;
  color: #6a6a6a33;
}

.allreviews {
  display: flex;
  flex-wrap: wrap;
}

.noproductreview {
}
