.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  z-index: 0;
}

.page-item {
  background-color: #635183;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
  color: #fff;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 300 0.9vmax "Roboto";
  color: rgb(231 231 231);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(213 188 235);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: #1a1335;
}

.pageLinkActive {
  color: white;
}

.filterBox {
  padding: 10px;
  z-index: 10;
  color: #7e708b;
  text-transform: capitalize;
  margin: 10px;
  display: flex;
}

.categoryBox {
  padding: 0%;
}
.category-link {
  list-style: none;
  color: rgba(204, 204, 204, 0.61);
  font-size: 15px;
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 5px;
  padding: 3px 10px;
}
.category-link:hover {
  color: rgb(0, 0, 0);
  background: gray;
  border-radius: 5px;
  padding: 3px 10px;
}

.products-container {
  background: url("../../images/home-background.png");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  padding-top: 80px;
}

.filter-price,
.filter-category,
.filter-rating {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-box {
  position: relative;
}
.product-box .product-heading {
  font-size: 3rem;
  color: #fff;
  z-index: 0;
  padding: 10px 20px;
  margin: 30px;
  text-align: center;
  position: relative;
}

.product-box .product-heading::before {
  content: "Products";
  position: absolute;
  width: 100%;
  font-size: 7rem;
  font-weight: bold;
  z-index: 0;
  left: 0;
  top: -25px;
  text-align: center;
  color: #0000002c;
}

.noproductfound {
  font-size: 3rem;
  text-align: center;
  color: #d3d3d3;
}
